@model IEnumerable<ServicePernik.Models.Reservation.AllReservationsVM>

@{
    ViewData["Title"] = "My";
}

<h1>My</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReservation)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.StatusReservationName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReservation)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StatusReservationName)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
